<div class="content">
    <h2>API Keys</h2>
    <div class="toolbar">
        <div class="left"></div>
        <div class="right">
            <span class="add" ng-click="formApikey()"><i class="fa fa-plus"></i></span>
        </div>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Key</th>
            <th></th>
        </tr>
        <tr ng-repeat="apikey in apikeys">
            <td>{{apikey.name}}</td>
            <td>{{apikey.key}}</td>
            <td class="actions">
                <span ng-click="formApikey(apikey)"><i class="fa fa-edit"></i></span>
                <span class="danger" ng-click="deleteApikey(apikey)"><i class="fa fa-trash"></i></span>
            </td>
        </tr>
    </table>
</div>